<style>
    .side-nav {
        background-color: #fff; 
        color: #333; 
        width: 250px; 
        padding: 20px 0;
    }

    .side-nav-menu .nav-item a {
        display: flex;
        align-items: center;
        color: #333;
        text-decoration: none;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 4px; 
        margin-bottom: 5px; 
    }


    .side-nav-menu .nav-item .icon-holder {
        margin-right: 10px;
        font-size: 18px;
        display: inline-block;
    }


    .side-nav-menu .nav-item a:hover {
        background-color: lightgrey;
        color: #fff; 
    }


    .side-nav-menu .nav-item a.active {
        color: #3498db; 
        background-color: #f5f5f5; 
    }

    .side-nav-menu .nav-item .dropdown-menu {
        background-color: #f5f5f5;
        padding-left: 20px;
        border-radius: 4px;
        display: none;
    }

    .side-nav-menu .nav-item:hover .dropdown-menu {
        display: block;
    }

    .side-nav-menu .nav-item .dropdown-menu li a {
        color: #333;
        padding: 10px 20px;
        text-decoration: none;
    }

    .side-nav-menu .dropdown-menu li a:hover {
        background-color: lightgrey;
        color: #fff;
    }
  
    .arrow-icon {
        transition: transform 0.3s ease;
        display: inline-block; 
    }

    a[aria-expanded="true"] .arrow-icon {
        transform: rotate(180deg);
    }

    .dropdown-toggle::after {
        display: none !important;
    }
</style>



<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item ">
                <a class="dropdown-toggle" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-user"></i>
                    </span>
                    <span class="title ">Nhân Viên</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <!--<a class="dropdown-toggle" href="#quanLyCollapse" data-toggle="collapse" aria-expanded="false">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title">Danh Mục Quản Lý</span>
                    <span class="arrow">
                        <i class="arrow-icon anticon anticon-down"></i>
                    </span>
                </a>-->
                <ul>
                    <li>
                        <a asp-controller="Tours" asp-action="Index">
                            <span class="icon-holder">
                                <i class="anticon anticon-appstore"></i>
                            </span>
                            Quản Lý Tour
                        </a>
                    </li>
                    <li>
                        <a asp-controller="TourDetails" asp-action="Index">
                            <span class="icon-holder">
                                <i class="anticon anticon-appstore"></i>
                            </span>
                            Quản Lý Chi Tiết Tour
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Bookings" asp-action="Index">
                            <span class="icon-holder">
                                <i class="anticon anticon-book"></i>
                            </span>
                            Quản Lý Đặt Tour
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Categories" asp-action="Index">
                            <span class="icon-holder">
                                <i class="anticon anticon-appstore"></i>
                            </span>
                            Quản Lý Loại Tour
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Vehicles" asp-action="Index">
                            <span class="icon-holder">
                                <i class="anticon anticon-car"></i>
                            </span>
                            Quản Lý Phương Tiện
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Hotels" asp-action="Index">
                            <span class="icon-holder">
                                <i class="fas fa-hotel"></i>
                            </span>
                            Quản Lý Khách Sạn
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Itineraries" asp-action="Index">
                            <span class="icon-holder">
                                <i class="anticon anticon-calendar"></i>
                            </span>
                            Quản Lý Lịch Trình
                        </a>
                    </li>
                    <li>
                        <a asp-controller="DetailItineraries" asp-action="Index">
                            <span class="icon-holder">
                                <i class="fas fa-map-signs"></i>
                            </span>
                            Quản Lý Chi Tiết Lịch Trình
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ItineraryImages" asp-action="Index">
                            <span class="icon-holder">
                                <i class="anticon anticon-picture"></i>
                            </span>
                            Quản Lý Ảnh Lịch Trình 
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

