<style>
    .side-nav {
        background-color: #fff;
        color: #333; 
        width: 250px; 
        padding: 20px 0;
    }

    .side-nav-inner h1 {
        color: #333; 
        font-size: 18px;
        text-align: center;
        padding: 20px 0;
    }

    .side-nav-menu .nav-item a {
        display: flex;
        align-items: center;
        color: #333; 
        text-decoration: none;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 4px; 
        margin-bottom: 5px; 
    }


    .side-nav-menu .nav-item .icon-holder {
        margin-right: 10px;
        font-size: 18px;
        display: inline-block;
    }


    .side-nav-menu .nav-item a:hover {
        background-color: lightgrey; 
        color: #fff; 
    }


    .side-nav-menu .nav-item .dropdown-menu {
        background-color: #f5f5f5;
        padding-left: 20px;
        border-radius: 4px;
        display: none;
    }


    .side-nav-menu .nav-item:hover .dropdown-menu {
        display: block;
    }


    .side-nav-menu .nav-item .dropdown-menu li a {
        color: #333;
        padding: 10px 20px;
        text-decoration: none;
    }

    .side-nav-menu .dropdown-menu li a:hover {
        background-color: #3498db; 
        color: #fff; 
    }

    .side-nav-menu .dropdown-menu li a .icon-holder {
        margin-right: 8px;
        font-size: 16px;
        color: white;
    }

    .side-nav-menu .dropdown-menu li a:hover .icon-holder {
        color: #fff;
    }

</style>

<div class="side-nav ">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item ">
                <a class="dropdown-toggle" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-home"></i>
                    </span>
                    <span class="title ">Quản Trị Viên</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                
                <ul>
                    <li>
                        <a asp-controller="Manage" asp-action="Index">
                            <span class="icon-holder">
                                <i class="anticon anticon-tool"></i>
                            </span>
                            Quản Lý Tài Khoản
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Users" asp-action="Index">
                            <span class="icon-holder">
                                <i class="anticon anticon-user"></i>
                            </span>
                            Quản Lý User
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Tours2" asp-action="Index">
                            <span class="icon-holder">
                                <i class="anticon anticon-appstore"></i>
                            </span>
                            Quản Lý Tour
                        </a>
                    </li>
                    <li>
                    <li>
                        <a asp-controller="Promotions" asp-action="Index">
                            <span class="icon-holder">
                                <i class="anticon anticon-gift"></i>
                            </span>
                            Quản Lý Khuyến Mãi
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Contact" asp-action="Index">
                            <span class="icon-holder">
                                <i class="anticon anticon-phone"></i>
                            </span>
                            Danh Sách Liên Hệ
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Bookings" asp-action="Revenue">
                            <span class="icon-holder">
                                <i class="anticon anticon-dollar"></i>
                            </span>
                            Thống Kê Doanh Thu Theo Tháng
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Bookings" asp-action="QuarterlyRevenue">
                            <span class="icon-holder">
                                <i class="anticon anticon-line-chart"></i>
                            </span>
                            Thống Kê Doanh Thu Theo Quý
                        </a>
                    </li>
                </ul>
    </div>
</div>